# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/


# OS
.DS_Store
Thumbs.db

# Environment files
.env
*.secret
*.key

# Logs
*.log

# Packaging
*.egg-info/
dist/
build/

# DB
riot_data.db
normalized_matches.csv
players_matches.json
*.db
*.csv
# progress
progress.json