# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# IDE / Editor
.vscode/


# OS
.DS_Store
Thumbs.db

# Environment files
.env
*.secret
*.key

# Logs
*.log

# Packaging
*.egg-info/
dist/
build/
outdated/*
backend/models/*
# DB
riot_data.db
normalized_matches.csv
players_matches.json
*.db
*.csv
/data/*
/models/*
debug.py
# progress
progress.json

# Stuff that was relevant but is no longer
k_means.ipynb
k_means2.ipynb
predict_cluster2.py
predict_cluster3.py